 @import url(https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/Yes.css);
 @import url(https://fonts.googleapis.com/css2?family=Jetbrains+Mono:wght@100;300;400;500;700&display=swap);
 
:root {

--Font-Used: 'Jetbrains Mono';

/* https://nfld99.github.io/Better-Discord/Font_List.txt */

--Font-Size: 2px ;

/* mediumxx-smallx-smallsmalllargex-largexx-largesmallerlargerlengthinitialinherit; */

--Font-Style: regular ;

/* normalitalicobliqueinitialinherit; */

--Font-Weight: 400 ;

/* normalboldbolderlighternumberinitialinherit */

--Font-Variant: regular ;

/* normalsmall-capsinitialinherit */

}

*:not([class*="hljs"]):not(code){

font-family: var(--Font-Used)!important;

font-style: var(--Font-Style)!important;

font-weight: var(--Font-Weight)!important;

font-variant: var(--Font-Variant)!important;

}

.markup:not(code) {


} 
